:root {
  --color1: #ffffff;
  --color2: #1f6888;
  --color-accent: #1e2939;
  --color-aside: #8cd0ed;
  --color-title: #000000;
  --color-text: #333333;
}
body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  font-style: normal;
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}
h1,
h2 {
  margin: 0;
}
.container {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}
.header {
  display: flex;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  margin-left: 100px;
  margin-top: 50px;
}
a:hover {
  color:  var(----color2);
}

/*Header*/
.nav {
  background-color: var(--color-accent);
}
.nav a:hover {
  color: var(--color-aside);
}
.nav-list {
  padding: 0;
  margin: 0;
  line-height: 50px;
  display: flex;
  justify-content: flex-start;
  list-style: none;
}
.nav-item {
  display: flex;
  margin: 3px;
  border: 2px solid var(--color2);
  border-radius: 4px;
  background-color: var(--color-accent);
}
.nav-link {
  text-decoration: none;
  color:var(----color1);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding: 5px;
  color: var(--color1);
}

.common-container {
  display: flex;
  justify-content: space-between;
}
/* Main content */

.main-content {
  width: 830px;
}

.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin: 10px 0 10px 0;
}

.my-name {
    color: var(--color-title);
 
  font-size: 70px;
  line-height: 0.7;
  text-align: center;
}

.about-me {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 600px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

/* My projects */

.my-project-section,
.my-code {
  width: 485px;
  margin-bottom: 80px;
}

.my-projects-list {
  padding-left: 17px;
}
.lisi-item {
  font-weight: bold;
  color: #1f6888;
}
.list-text,
.project-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  margin-left: 3px;
}
.project-link:hover {
  color: #1f6888;
}

/* My work experience section */
.color-lettering {
  color: #1f6888;
}

.post-title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.8;
}

.work-dates {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  margin: 0 0 10px 0;
}
.work-dates-devider {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.experience-description {
  padding-left: 17px;
  margin: 0 0 80px 0;
}

.experience-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}
.my-job-section {
  margin: 0 0 80px 0;
}

/* My education */
.main-content-title {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 0.8;
}

.my-education-section {
  margin-bottom: 40px;
}
/* Sidebar section */

.sidebar-section {
  width: 260px;
  padding: 40px 30px;
  background-color: var(--color-aside);
  color: var(--color1);
}
.section-block {
  margin: 0 0 80px 40px;
}
.sidebar-title {
  font-size: 25px;
  line-height: 0.8;
}
.sidebar-link {
  font-size: 14px;
  line-height: 24px;
  text-decoration-color: var(--color1);
  color: var(--color1);
}
.sidebar-link:hover {
  color: var(--color2);
}
.sidebar-list {
  padding-left: 17px;
}
.sidebar-item {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.05;
}
.sidebar-text,
.page-footer--text {
  font-size: 14px;
  line-height: 24px;
}

.page-footer--text {
  margin-left: 40px;
  margin-right: auto;
  color: var(--color1);
}

.link__icon {
  height: 40px;
  fill: currentColor;
}

.link__icon2 {
  width: 40px;
}

.page-footer {
  display: flex;
  align-items: center;
  border-top: 4px solid var(--color2);
  background-color: var(--color-accent);
}
.link__item--footer {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 20px;
}
.link--footer {
  margin: 0;
  display: flex;
  list-style: none;
}
